<mat-toolbar class="toolbar">
  <span>Products</span>
  <div class="buttons">
    <a routerLink="/register">
      <button mat-flat-button color="primary">Register</button>
    </a>
    <a routerLink="/login">
      <button mat-flat-button color="primary">Log in</button>
    </a>
    <a>
      <button mat-flat-button color="primary">Log out</button>
    </a>
    <!-- <a routerLink="/create">
      <button mat-flat-button color="primary">Create product</button>
    </a> -->
    <a routerLink="/home">
      <button mat-flat-button color="primary">Products</button>
    </a>
    <a routerLink="/basket">
      <button mat-flat-button color="primary">
        Basket ({{ (basket$ | async)?.products?.length }})
      </button>
    </a>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
